.modal {
   width: 25%;
   height: 100vh;
   position: fixed;
   top: 0;
   right: 0%;
   background-color: #f1f2f3;
   z-index: 20;
}

.modal__close-btn {
   position: absolute;
   top: 10px;
   left: -35px;
   font-size: 2rem;
   color: white;
   cursor: pointer;
}
