.search-bar {
    align-self: flex-start;
}

.search-bar__group {
    display: flex;
    align-items: center;
    column-gap: .2rem;
}

.search-bar__icon {
    color: rgba(165, 165, 165, 0.5);
    margin-right: -25px;
    z-index: 10;
}

.search-bar__input {
    padding: .2rem .5rem;
    padding-left: 1.8rem;
    font-size: 1rem;
    color: rgb(98, 98, 98);
    outline-color: rgb(79,70,229);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}